.section-head {
  text-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 960px) {
    flex-direction: row;
  }

  &__description {
    @media screen and (min-width: 960px) {
      text-align: left;
      max-width: 45%;
    }
  }


  &__card {
    width: 100%;

    @media screen and (min-width: 960px) {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 1em;

      & > .card {
        flex: none;
        width: 75%;
      }

      & > .card:nth-child(2) {
        align-self: center;
      }

      & > .card:last-child {
        align-self: end;
      }
    }
  }
}
