h1, h2, h3, h4, h5 {
  color: hsl(0, 0%, 100%);
  text-rendering: optimizeLegibility;
  margin-bottom: calc(12px + .1vw);
}

h1 {
  font-size: 2.007em;
  line-height: calc(20px + 2.7vw);
  margin-bottom: calc(12px + 1.3vw);
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

h2 {
  font-size: 1.823em;
  line-height: calc(20px + 4.3vw);
}

h3 {
  font-size: 1.609em;
}

h4 {
  font-size: 1.403em;
  font-weight: 600;
}

h5 {
  font-size: 1.275em;
}

h4, h5, h6 {
  line-height: calc(20px + 2vw);
}
